---
import ProjectItem from '../components/ExperienceItem.astro';
import React from "./Icons/React.astro"
import Tailwind from "./Icons/Tailwind.astro"
import HTML from "./Icons/HTML.astro"
import ReactNative from "./Icons/React.astro"
import Javascript from "./Icons/Javascript.astro"
import MongoDB from "./Icons/MongoDB.astro"
import Express from "./Icons/Express.astro"
import GitHub from "./Icons/GitHub.astro"
import Link from "./Icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: HTML,
  },
  REACTNATIVE: {
    name: "React Native",
    class: "bg-black text-white",
    icon: ReactNative,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-black text-white",
    icon: Javascript,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: MongoDB,
  },
  EXPRESSJS: {
    name: "Express.JS",
    class: "bg-black text-white",
    icon: Express,
  },
}

const ProjectsList = [
  {
    title: "Plataforma web de gestión de incidentes - HarkAI",
    description:
      "Aplicativo web diseñado para la start up HarkTech para la gestión de incidentes detectados por Inteligencia Artificial. Los incidentes son visualizados en la página y reportados según criterio del usuario Supervisor. Asimismo, se cuenta con una página de Estadísticas y Resumenes para la gestión de reportes generados hasta la fecha.",
    link: "https://harkai-interfaz.vercel.app/",
    image: "https://i.ibb.co/rtMfcmP/HarkAI-1.webp",
    tags: [TAGS.REACT, TAGS.EXPRESSJS, TAGS.TAILWIND],
  },
  {
    title: "RestAPI para la subida de imágenes con Cloudinary y MongoDB",
    description:
      "Desarrollé una RESTAPI para el almacenamiento de imágenes en Cloudinary en cifrado base64 y la posterior subida de información en MongoDB.",
    github: "https://github.com/AlexCalizaya/REST-API-Cali.git",
    image: "https://nordicapis.com/wp-content/uploads/Building-a-RESTful-API-Using-Node.JS-and-MongoDB.png",
    tags: [TAGS.JAVASCRIPT, TAGS.EXPRESSJS, TAGS.MONGODB],
  },
  {
    title: "Aplicativo Galería de imágenes con Cloudinary",
    description:
      "Desarrollé una RESTAPI para el almacenamiento de imágenes en Cloudinary en cifrado base64 y la posterior subida de información en MongoDB.",
    github: "https://github.com/AlexCalizaya/App-Cali.git",
    image: "https://i.ytimg.com/vi/Z5UUFFhU-YQ/maxresdefault.jpg",
    tags: [TAGS.JAVASCRIPT, TAGS.REACTNATIVE, TAGS.EXPRESSJS],
  },
]

---

<div class="flex flex-col gap-y-16">
    {
      ProjectsList.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Imagen del proyecto HarkAI" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-yellow-300">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-300 text-sm">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>
